* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100dvh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========== WHITE STYLE ========== */

main {

    background-color: #ededed;

    width: 400px;
    height: 550px;

    border: 2px solid #000;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;

    box-shadow: 3px 3px 10px;
}

main .login-title {

    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

main .login-form {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

main .login-form .input-form-box {

    width: 100%;

    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 20px;
}

main .login-form .input-form-box div {

    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
 
    gap: 5px;
}

main .login-form .input-form-box div label {font-size: 1.2em;}

main .login-form .input-form-box div input {

    
    height: 2.5em;

    padding: 0 10px 0 5px;

    border: 1px solid;
    border-radius: 7px;
}

main .login-form .input-form-box .btn-login {

    width: 70%;
    height: 2em;

    margin-top: 15%;

    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    border: 1px solid;
    border-radius: 50px;

    box-shadow: 0 0 5px;
}

main .login-form .input-form-box .btn-login:hover {
    box-shadow: 0 0 10px;
}
