body {background-image: linear-gradient(45deg, #000, #292828, #2c2c2c);}

main {

    width: 400px;
    height: 550px;

    border: 2px solid #00f;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;

    box-shadow: 3px 3px 10px #0ae;
}

main .login-title {

    color: #0066ff;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);

    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}

main .login-form {

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    color: #02b7ff;
}

main .login-form .input-form-box {

    width: 100%;

    padding: 10px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    gap: 20px;
}

main .login-form .input-form-box div {

    width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
 
    gap: 5px;
}

main .login-form .input-form-box div label {
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

main .login-form .input-form-box div input {

    background-color: #000000;
    
    height: 2.5em;

    padding: 0 10px 0 5px;

    border: 1px solid;
    border-radius: 7px;

    outline: none;

    color: #0ae;
}

main .login-form .input-form-box div input::placeholder {
    color: #00eeff77;
}

main .login-form .input-form-box div input:focus {
    border: 2.5px solid;
}

main .login-form .input-form-box .btn-login {

    background-color: #0066ff;

    width: 70%;
    height: 2em;

    margin-top: 15%;

    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0206ff;

    border: 1px solid;
    border-radius: 50px;

    box-shadow: 0 0 5px;
}

main .login-form .input-form-box .btn-login:hover {
    box-shadow: 0 0 10px;
    font-weight: 600;
}

main .login-form .register-link-box a{color: #006fee;}
main .login-form .register-link-box a:hover {color: #003fee;}

footer {

    background-color: #1b1b1bb9;

    width: 100%;
    height: 5dvh;

    position: fixed;
    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;

    font-size: small;
    
    a {color: #fff;}
}