* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {

    width: 100%;
    height: 100dvh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, p {cursor: default;}
button {cursor: pointer;}

input {
    outline: none;
}

.btn-home {

    background: transparent;

    position: fixed;
    top: 10px;
    left: 10px;

    border: none;
}

.btn-chage-theme {    

    background-color: transparent;

    width: 32px;
    height: 32px;

    position: fixed;
    top: 10px;
    right: 10px;

    border: none;

    cursor: pointer
}

.btn-chage-theme img {
    width: 32px;
}